@import "tailwindcss";

:root {
  --color-witrine-white: #FFFFFF;
  --color-witrine-gray-light: #d6d6d6;
  --color-witrine-gray-dark: #313131; 
  --color-witrine-orange: #F97316;  
  --color-witrine-gold: #f5ca0b;      
}
